<h1>
	<%= @member.title %>
</h1>

<p>
	Submitted <%= time_ago_in_words(@member.created_at) %>
</p>

<p>
	<%= @member.video %>
</p>

<p>
	<%= @member.description %>
</p>


<p>
	<%= @member.description %>
</p>

<p>
	<%= @member.web_title %>
</p>

<p>
	<%= @member.meta_description %>
</p>

